<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajuda - Parecer</title>

    <!-- Fonts e Vuetify CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify.min.css" rel="stylesheet" />
    <link href="./assets/css/style.css" rel="stylesheet"/>

    <!-- Vue + Vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify-labs-components.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify-labs-directives.min.js"></script>
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container>
            <v-row>
              <v-col>
                <p>Ajuda - Parecer</p>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <p>Aqui você pode consultar, redigir e aperfeiçoar pareceres com base nas solicitações recebidas.</p>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-select
                  label="Modelo de parecer"
                  :items="types"
                  item-title="name"
                  item-value="id"
                  variant="outlined"
                  v-model="selectType"
                ></v-select>
              </v-col>
            </v-row>

            <v-divider class="my-10" :thickness="1"></v-divider>

            <template v-if="selectType">
              <v-row>
                <v-col class="d-flex justify-space-between align-center">
                    <template v-if="listParecer.length"
                    >
                    <v-card
                    v-for="item in listParecer"
                    :key="item.id"
                    class="mx-auto my-4"
                    elevation="10"
                    max-width="700"
                    hover
                    @click="getParecer(item)"
                  >
                    <v-card-text>
                      {{ item.text }}
                    </v-card-text>
                  </v-card>
                    </v-card>
                  </template>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <p>Descreva ou melhore</p>
                  <v-form>
                    <v-textarea 
                    auto-grow 
                    variant="outlined"
                    v-model="parecer" 
                    :counter="maxCaractere"
                    :maxlength="maxCaractere"
                    rows="14"
                    style="font-family: 'Courier New', monospace; white-space: pre-wrap;"
                    />
                  </v-form>
                  <v-container fluid>
                    <v-row>
                      <v-col>
                        <v-col cols="auto">
                          <v-btn variant="text" color="red" @click="clear">Limpar</v-btn>
                        </v-col>
                      </v-col>
                      <v-col>
                        <v-col cols="auto" class="d-flex justify-end">
                          <v-btn color="primary" @click="confirmarParecer">Confirmar</v-btn>
                        </v-col>
                      </v-col>
                    </v-row>
                  </v-container>
                  
  
                </v-col>
              </v-row>
  
              <v-divider class="my-10" :thickness="1"></v-divider>
              <template v-if="paginasFormatadas">
                <v-row
                v-for="(pagina, index) in paginasFormatadas"
                :key="index"
              >
                <v-col>
                  <h3 class="mb-2">Página {{ index + 1 }}</h3>
                  <p>{{paginasFormatadas[index]}}</p>
                  <v-container fluid>
                    <v-row>
                      <v-col cols="auto">
                        <v-btn
                          color="primary"
                          @click="copiarTexto(pagina)"
                        >
                          CÓPIAR
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-col>
              </v-row>
              </template>
              
            </template>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script type="module" src="./assets/js/main.js"></script>
  </body>
</html>
