<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajuda - Parecer</title>

    <!-- Fonts e Vuetify CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify.min.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet"/>

    <!-- Vue + Vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify-labs-components.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify-labs-directives.min.js"></script>
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container fluid>
            <v-row>
              <v-col>
                <h1>Ajuda - Parecer</h1>
                <h2>Geral</h2>
                <p class="my-10">Busca algo mais específico? <v-btn color="deep-purple" href="pages/especifico.html" class="btn">Clique aqui!</v-btn></p>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <p>Aqui você redigir seu parecere e formatar .</p>
              </v-col>
            </v-row>
            <v-row style="height: 15%;">
              <v-col cols="12">
                <p>Descreva seu texto</p>
                  <v-textarea 
                  @keydown="verificarCapsLock"
                  auto-grow 
                  variant="outlined"
                  v-model="parecer"
                  ></v-textarea>
                  <span v-if="capsLockAtivo">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</span>
                <v-container fluid>
                  <v-row>
                    <v-col>
                      <v-col cols="auto">
                        <v-btn variant="text" color="red" @click="clear">Limpar</v-btn>
                      </v-col>
                    </v-col>
                    <v-col>
                      <v-col cols="auto" class="d-flex justify-end">
                        <v-btn :disabled="(!parecer.length > 0)" color="primary" @click="confirmarParecerGeral">Confirmar</v-btn>
                      </v-col>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>

            <v-divider class="my-10" :thickness="1"></v-divider>
            <template v-if="paginasFormatadas">
              <v-row
              v-for="(pagina, index) in paginasFormatadas"
              :key="index"
            >
              <v-col>
                <h3 class="mb-2">Página {{ index + 1 }}</h3>
                <v-textarea auto-grow disabled v-model="paginasFormatadas[index]" variant="outlined"></v-textarea>
                <v-container fluid>
                  <v-row>
                    <v-col cols="auto">
                      <v-btn
                        color="primary"
                        @click="copiarTexto(pagina)"
                      >
                        CÓPIAR
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
            </template>
          </v-container>
        </v-main>
      </v-app>
    </div>
    

    <script type="module" src="./assets/js/main.js"></script>
  </body>
</html>
