.list-cards {
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px; 
    overflow-x: auto; 
    padding: 10px; 
    max-width: 100%;
}

.text-alert p {
    background-color: rgb(186, 13, 13) !important;
    color: white !important;
    padding: 5px;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.selected-card {
    border: 2px solid #FF9800; 
    background-color: #FFF3E0; 
}

.active-link {
  background-color: #1976d2 !important;
  color: white !important;
  font-weight: bold;
}

.anchor-target {
  scroll-margin-top: 80px; /* ajusta conforme a altura da sua v-app-bar */
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
