<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajuda - Parecer</title>

    <!-- Fonts e Vuetify CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify.min.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet"/>

    <!-- Vue + Vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify-labs-components.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify-labs-directives.min.js"></script>
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-snackbar
          v-model="snackbar.status"
          class="elevation-24"
          multi-line
          :timeout="2000"s
        >
          {{ snackbar.text }}

          <template v-slot:actions>
            <v-btn
              color="red"
              variant="text"
              @click="snackbar.status = false"
            >
              Fechar
            </v-btn>
          </template>
        </v-snackbar>
        <v-main>
          <v-container fluid>
            <v-row>
              <v-col>
                <h1>Ajuda - Parecer</h1>
                <h2>Específico</h2>
                <p class="my-10">Deseja só digitar um texto e trata-lo? <v-btn color="deep-purple" href="../index.html" class="skip-link">Clique aqui!</v-btn></p>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <p>Aqui você pode consultar, redigir e aperfeiçoar pareceres com base nas solicitações recebidas.</p>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-select
                  label="Modelo de parecer"
                  :items="types"
                  item-title="name"
                  item-value="id"
                  variant="outlined"
                  v-model="selectType"
                ></v-select>
              </v-col>
            </v-row>

            <v-divider class="my-10" :thickness="1"></v-divider>

            <template v-if="selectType">
              <v-container fluid>
                <template v-if="selectType === '75989fa6-aefb-4ed4-839b-916ce722f791'">
                  <v-row>
                    <v-col cols="12" md="6">
                      <h3>Situação observada:</h3>
                      <v-expansion-panels class="my-5">
                        <v-expansion-panel
                          title="Veja aqui algumas orientações que podem te ajudar."
                        >
                        <v-expansion-panel-text>
                          <ul>
                            <li><strong>Apresente a Composição da Equipe Multiprofissional:</strong> Informe quais são os profissionais envolvidos (ex: psicologia, psicopedagogia, fonoaudiologia, assistência social), destacando que o trabalho é realizado de forma integrada.</li>
                            
                            <li><strong>Explique o Foco do Atendimento:</strong> Descreva que o Atendimento Sociopsicopedagógico busca atender de forma individualizada, adotando estratégias específicas conforme cada demanda.</li>
                            
                            <li><strong>Declare o Objetivo do Atendimento:</strong> Enfatize que o principal objetivo é identificar as dificuldades dos alunos e estimular seus potenciais, respeitando suas singularidades.</li>
                            
                            <li><strong>Ressalte a Importância do Trabalho em Rede:</strong> Reforce que a participação da família e da escola é fundamental para garantir a efetividade das ações realizadas.</li>
                            
                            <li><strong>Adote Linguagem Técnica e Humanizada:</strong> Utilize uma linguagem clara, respeitosa e profissional, evitando julgamentos e mantendo o foco no apoio ao desenvolvimento do aluno.</li>
                          </ul>
                          
                        </v-expansion-panel-text>
                        </v-expansion-panel>
                      </v-expansion-panels>
                      <v-textarea 
                      @keydown="verificarCapsLock($event, 'situacao')"
                      @input="verificarLimite(parecerFicai.situacao, 'situacao')"
                      auto-grow 
                      variant="outlined"
                      v-model="parecerFicai.situacao"
                      :maxlength="maxCaractere"
                      :rows="qtdPaginas"
                      ></v-textarea>
                      <div class="mb-10 text-alert">
                        <p v-if="capsLockCampos.situacao">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</p>
                        <p v-if="alertas.situacao">⚠️ O texto alcançou a quantidade de linhas, e o limite é {{this.qtdPaginas * this.qtdLinhas}}.</p>
                      </div>
                    </v-col>
                    <v-col cols="12" md="6" class="d-flex flex-column justify-start align-start">
                      <v-btn color="orange lighten-3" @click="showFicaiSituacao = !showFicaiSituacao">Modelos de Situação Observada</v-btn>
                      <div v-if="showFicaiSituacao" class="list-cards">
                        <v-card
                        v-for="item in getAllParecerByEspecific('FICAI_SITUACAO')"
                        :key="item.id"
                        class="mx-auto my-4 ma-10"
                        :class="{'selected-card': parecerFicai.situacao === item.text}"
                        elevation="10"
                        style="min-width: 400px; max-width: 300px; flex-shrink: 0;"
                        hover
                        @click="parecerFicai.situacao = item.text"
                      >
                        <v-card-text style="white-space: normal;">
                          {{ item.text }}
                        </v-card-text>
                        </v-card>
                      </div>
                    </v-col>
                  </v-row>
                  <v-divider class="my-10" :thickness="1"></v-divider>
                  <v-row>
                    <v-col cols="12" md="6">
                      <h3>Orientações Dadas à Família:</h3>
                      <v-expansion-panels class="my-5">
                        <v-expansion-panel
                          title="Veja aqui algumas orientações que podem te ajudar."
                        >
                        <v-expansion-panel-text>
                          <ul>
                            <li><strong>Contextualize a Finalidade das Recomendações:</strong> Comece explicando que as orientações visam contribuir com a melhoria do desempenho escolar do(a) aluno(a), com foco no desenvolvimento integral.</li>
                            
                            <li><strong>Liste as Recomendações de Forma Objetiva:</strong> Organize as sugestões de maneira clara, como:
                              <ul class="ml-5">
                                <li>Estabelecimento de limites quando necessário;</li>
                                <li>Promoção de momentos afetivos em família;</li>
                                <li>Criação e manutenção de uma rotina de estudos em casa e na escola;</li>
                                <li>Acompanhamento da vida escolar pela família;</li>
                                <li>Busca e adesão ao acompanhamento médico, se indicado.</li>
                              </ul>
                            </li>
                            
                            <li><strong>Inclua a Responsabilidade Compartilhada:</strong> Destaque que tanto a família quanto a escola têm papéis fundamentais no acompanhamento do aluno.</li>
                            
                            <li><strong>Oriente sobre a Continuidade das Ações:</strong> Reforce que a escola deve apoiar e reforçar as orientações fornecidas pela equipe multiprofissional junto aos pais ou responsáveis.</li>
                            
                            <li><strong>Use Linguagem Acessível e Respeitosa:</strong> Mantenha uma linguagem acolhedora e orientadora, evitando tom impositivo ou julgador.</li>
                          </ul>                          
                        </v-expansion-panel-text>
                        </v-expansion-panel>
                      </v-expansion-panels>
                      <v-textarea 
                      @keydown="verificarCapsLock($event, 'orientacaoFicai')"
                      @input="verificarLimite(parecerFicai.orientacao, 'orientacaoFicai')"
                      auto-grow 
                      variant="outlined"
                      v-model="parecerFicai.orientacao"
                      :maxlength="maxCaractere"
                      :rows="qtdPaginas"
                      ></v-textarea>
                      <div class="mb-10 text-alert">
                        <p v-if="capsLockCampos.orientacaoFicai">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</p>
                        <p v-if="alertas.orientacaoFicai">⚠️ O texto alcançou a quantidade de linhas, e o limite é {{this.qtdPaginas * this.qtdLinhas}}.</p>
                      </div>
                    </v-col>
                    <v-col cols="12" md="6" class="d-flex flex-column justify-start align-start">
                      <v-btn color="orange lighten-3" @click="showFicaiOrientacao = !showFicaiOrientacao">Modelos de Orientações Dadas à Família</v-btn>
                      <div v-if="showFicaiOrientacao" class="list-cards">
                        <v-card
                        v-for="item in getAllParecerByEspecific('FICAI_ORIENTACAO')"
                        :key="item.id"
                        class="mx-auto my-4 ma-10"
                        :class="{'selected-card': parecerFicai.orientacao === item.text}"
                        elevation="10"
                        style="min-width: 400px; max-width: 300px; flex-shrink: 0;"
                        hover
                        @click="parecerFicai.orientacao = item.text"
                      >
                        <v-card-text>
                          {{ item.text }}
                        </v-card-text>
                        </v-card>
                      </div>
                    </v-col>
                  </v-row>
                </template>
                <template v-else>
                  <v-row>
                    <v-col cols="12" md="6">
                       <h3>Parecer da equipe multiprofissional:</h3>
                       <v-expansion-panels class="my-5">
                        <v-expansion-panel
                          title="Veja aqui algumas orientações que podem te ajudar."
                        >
                        <v-expansion-panel-text>
                          <ul>
                            <li><strong>Identifique o Polo de Atendimento:</strong> Inicie o texto com o nome da equipe e especifique o polo de origem do atendimento (ex: Polo Norte, Polo Sul, etc.).</li>
                            
                            <li><strong>Informe o Local da Atividade:</strong> Indique a escola ou instituição atendida, deixando claro o objetivo da visita.</li>
                            
                            <li><strong>Apresente o Objetivo da Visita:</strong> Explique que a visita teve como finalidade realizar atendimentos com professores, alunos e responsáveis para levantamento de informações que subsidiem um estudo de caso.</li>
                            
                            <li><strong>Descreva os Tipos de Atendimento:</strong> Mencione brevemente quem foi atendido (professores, responsáveis e alunos) e os aspectos abordados: acadêmico, cognitivo, emocional e social.</li>
                            
                            <li><strong>Enfatize a Abordagem Integrada:</strong> Reforce que as informações são coletadas com base nas perspectivas da escola e da família, buscando uma compreensão mais ampla do aluno.</li>
                            
                            <li><strong>Mantenha Tom Formal e Objetivo:</strong> Use linguagem clara, objetiva e impessoal, sem julgamentos ou conclusões antecipadas.</li>
                          </ul>
                          
                        </v-expansion-panel-text>
                        </v-expansion-panel>
                      </v-expansion-panels>
                        <v-textarea 
                        @keydown="verificarCapsLock($event, 'equipe')"
                        @input="verificarLimite(parecerSocio.equipe, 'equipe')"
                        auto-grow 
                        variant="outlined"
                        v-model="parecerSocio.equipe"
                        :maxlength="maxCaractere"
                        :rows="qtdPaginas"
                        ></v-textarea>
                        <div class="mb-10 text-alert">
                          <p v-if="capsLockCampos.equipe">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</p>
                          <p v-if="alertas.equipe">⚠️ O texto alcançou a quantidade de linhas, e o limite é {{this.qtdPaginas * this.qtdLinhas}}.</p>
                        </div>
                    </v-col>
                    <v-col cols="12" md="6"  class="d-flex flex-column justify-start align-start">
                      <v-btn color="orange lighten-3" @click="showSocioEquipe = !showSocioEquipe">Modelos de Parecer da equipe multiprofissional</v-btn>
                      <div v-if="showSocioEquipe" class="list-cards">
                        <v-card
                        v-for="item in getAllParecerByEspecific('SOCIO_EQUIPE')"
                        :key="item.id"
                        class="mx-auto my-4 ma-10"
                        :class="{'selected-card': parecerSocio.equipe === item.text}"
                        elevation="10"
                        style="min-width: 400px; max-width: 300px; flex-shrink: 0;"
                        hover
                        @click="parecerSocio.equipe = item.text"
                      >
                        <v-card-text>
                          {{ item.text }}
                        </v-card-text>
                        </v-card>
                      </div>

                    </v-col>
                  </v-row>
                  <v-divider class="my-10" :thickness="1"></v-divider>
                  <v-row>
                    <v-col cols="12" md="6">
                      <h3>Parecer Técnico:</h3>
                      <v-select
                        label="Escolha uma especialidade"
                        :items="typesTecnicos"
                        item-title="name"
                        item-value="type"
                        variant="outlined"
                        v-model="selectTypeTecnicos"
                        class="my-5"
                      ></v-select>
                      <v-expansion-panels v-if="selectTypeTecnicos" class="mb-5">
                        <v-expansion-panel
                          title="Veja aqui algumas orientações que podem te ajudar."
                        >
                        <v-expansion-panel-text>
                          <ul>
                            <template v-if="selectTypeTecnicos === 'SOCIO_TECNICO_PSICOLOGO'">
                              <li>
                                <strong>Iniciar com os relatos dos professores:</strong> Incluir as informações repassadas sobre o aluno, tais como: queixas comportamentais ou emocionais, dificuldades de aprendizagem, observações de sala de aula, entre outros.
                              </li>
                              <li>
                                <strong>Quais os instrumentos avaliativos:</strong> Tangram (concentração, coordenação, orientação espacial, raciocínio lógico, percepção visual e espacial e análise de figuras). Torre de Hanói avalia capacidade de memória de trabalho. Baralho das emoções (desenvolve socioafetiva). Arremedo é um jogo projetado para ajudar crianças a enfrentarem seus medos e ansiedade.
                              </li>
                              <li>
                                <strong>Dificuldades comportamentais:</strong> Desrespeito às regras, indisciplina, baixo rendimento, preguiça, insegurança, comportamento desorganizado.
                              </li>
                              <li>
                                <strong>Habilidades de convívio social:</strong> Empatia, comunicação, civilidade, assertividade, autocontrole, enfrentamento, negociação, lidar com frustrações.
                              </li>
                              <li>
                                <strong>Identifica e expressa suas emoções:</strong> Reconhece suas emoções como tristeza, medo, angústia, raiva, alegria e outros.
                              </li>
                              <li>
                                <strong>Orientações repassadas aos pais e responsáveis:</strong> 
                                Escuta dos Responsáveis: Registre as informações compartilhadas pela família, como: histórico de desenvolvimento, estímulos oferecidos em casa; expectativas da família, outras demandas relevantes (ex: histórico de saúde, dificuldades emocionais, situações de luto, separação, etc.).
                              </li>
                              <li>
                                <strong>Considerações finais:</strong> Orientações à família.
                              </li>
                            </template>
                            <template v-if="selectTypeTecnicos === 'SOCIO_TECNICO_FONOAUDIOLOGO'">
                              <li><strong>Inicie com o registro da entrevista inicial:</strong> Informe que foi realizada uma entrevista com o(a) professor(a) do aluno, destacando que o objetivo foi levantar informações sobre possíveis dificuldades de linguagem e fala observadas em sala de aula.</li>

                              <li><strong>Descreva a triagem fonoaudiológica realizada:</strong> Relate que foi feita uma triagem com o aluno, especificando as áreas avaliadas: fala, linguagem, motricidade oral e audição.</li>

                              <li><strong>Explique os procedimentos utilizados:</strong> Liste brevemente os instrumentos e métodos aplicados na triagem, como nomeação de figuras, conversa informal, repetição de palavras, leitura de palavras e observação dos órgãos fonoarticulatórios (lábios, língua, palato, bochechas, etc.).</li>

                              <li><strong>Apresente os resultados de forma clara e objetiva:</strong> Descreva os achados da triagem com base nos dados coletados, como a integridade dos órgãos fonoarticulatórios, a preservação aparente da audição, a adequação da linguagem à idade e a ausência de alterações na fala.</li>

                              <li><strong>Mantenha linguagem técnica e impessoal:</strong> Utilize termos fonoaudiológicos apropriados, evitando julgamentos ou diagnósticos formais, caso não sejam parte da prática da triagem.</li>

                              <li><strong>Organize o texto de forma lógica e sequencial:</strong> A sequência recomendada é: entrevista → triagem → instrumentos utilizados → observações e resultados.</li>
                            </template>
                            <template v-if="selectTypeTecnicos === 'SOCIO_TECNICO_PSICOPEDAGOGO'">
                              <li>
                                <strong>Iniciar com os relatos dos professores:</strong> Incluir as informações repassadas sobre o aluno, tais como: queixas relacionadas ao desempenho escolar (ex: dificuldade na leitura, escrita, atenção, cálculos); comportamento em sala (ex: inquietação, apatia, isolamento, desorganização); participação nas atividades e interação com os colegas; histórico de repetência ou apoio pedagógico anterior.
                              </li>
                              <li>
                                <strong>Descreva os jogos e recursos pedagógicos aplicados:</strong> Dominó de Letra, Cubo Silábico, Leitura Divertida, Jogo da Trilha de Números, Jogo da Memória, Ditado das Palavras, Jogo do Alfabeto Ilustrado.
                              </li>
                              <li>
                                <strong>Aspectos observados:</strong> Cognitivos, atenção e concentração, memória (visual, auditiva, operacional); linguagem oral e escrita; consciência fonológica; raciocínio lógico e resolução de problemas, entre outros.
                              </li>
                              <li>
                                <strong>Escuta dos responsáveis:</strong> Registre as informações compartilhadas pela família, como: histórico de desenvolvimento (fala, motricidade, entrada na escola); rotina de estudos em casa; presença ou ausência de acompanhamento familiar; estímulos oferecidos em casa.
                              </li>
                              <li> <strong>Análise Integrada:</strong> Relacionar os dados obtidos nos atendimentos com as informações vindas da escola e da família. Apontar hipóteses sobre fatores que interferem na aprendizagem, sem emitir diagnóstico clínico.</li>
                              <li>
                                <strong>Considerações finais:</strong> Orientações à família.
                              </li>
                            </template>
                            <template v-if="selectTypeTecnicos === 'SOCIO_TECNICO_SERVICO_SOCIAL'">
                              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi.</li>
                              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi.</li>
                              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi.</li>
                              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi.</li>
                            </template>
                          </ul>
                        </v-expansion-panel-text>
                        </v-expansion-panel>
                      </v-expansion-panels>
                      <v-textarea 
                      @keydown="verificarCapsLock($event, 'tecnico')"
                      @input="verificarLimite(parecerSocio.tecnico, 'tecnico')"
                      auto-grow 
                      variant="outlined"
                      v-model="parecerSocio.tecnico"
                      :maxlength="maxCaractere"
                      :rows="qtdPaginas"
                      ></v-textarea>
                      <div class="mb-10 text-alert">
                        <p v-if="capsLockCampos.tecnico">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</p>
                        <p v-if="alertas.tecnico">⚠️ O texto alcançou a quantidade de linhas, e o limite é {{this.qtdPaginas * this.qtdLinhas}}.</p>
                      </div>
                    </v-col>
                    <v-col cols="12" md="6" class="d-flex flex-column justify-start align-start">
                      <v-btn :disabled="!selectTypeTecnicos" color="orange lighten-3" @click="showSocioTecnico = !showSocioTecnico">Modelos de Parecer Técnico</v-btn>
                      <div v-if="showSocioTecnico" class="list-cards">
                        <v-card
                        v-for="item in getAllParecerByEspecific(selectTypeTecnicos)"
                        :key="item.id"
                        class="mx-auto my-4 ma-10"
                        :class="{'selected-card': parecerSocio.tecnico === item.text}"
                        elevation="10"
                        style="min-width: 400px; max-width: 300px; flex-shrink: 0;"
                        hover
                        @click="parecerSocio.tecnico = item.text"
                      >
                        <v-card-text>
                          {{ item.text }}
                        </v-card-text>
                        </v-card>
                      </div>
                    </v-col>
                  </v-row>
                  <v-divider class="my-10" :thickness="1"></v-divider>
                  <v-row>
                    <v-col cols="12" md="6">
                      <h3>Orientações Finais:</h3>
                      <v-expansion-panels class="my-5">
                        <v-expansion-panel
                          title="Veja aqui algumas orientações que podem te ajudar."
                        >
                        <v-expansion-panel-text>
                          <ul>
                            <li><strong>Contextualize a Análise Realizada:</strong> Informe que a equipe, após os atendimentos, realizou uma análise dos dados coletados com o objetivo de compreender os fatores que impactam o desenvolvimento do aluno.</li>
                            
                            <li><strong>Descreva os Fatores Identificados:</strong> Mencione, de forma geral, que foram identificados aspectos que influenciam o processo de aprendizagem, sem entrar em detalhes específicos no texto geral.</li>
                            
                            <li><strong>Apresente as Recomendações:</strong> Indique que foram feitas sugestões de suporte pedagógico e estratégias psicopedagógicas, respeitando a individualidade e o contexto do aluno.</li>
                            
                            <li><strong>Inclua Possíveis Encaminhamentos:</strong> Caso pertinente, registre que a equipe pode sugerir encaminhamentos para outros profissionais especializados (fonoaudiólogos, psicólogos, etc.).</li>
                            
                            <li><strong>Sugira o Acompanhamento pela Escola:</strong> Reforce a importância do acompanhamento contínuo da equipe escolar, orientando que as recomendações sejam observadas e, se possível, registradas no processo educativo.</li>
                            
                            <li><strong>Mantenha Tom Ético e Profissional:</strong> Evite juízos de valor, termos diagnósticos ou qualquer afirmação que extrapole a função observacional e orientadora da equipe.</li>
                          </ul>
                        </v-expansion-panel-text>
                        </v-expansion-panel>
                      </v-expansion-panels>
                      <v-textarea 
                      @keydown="verificarCapsLock($event, 'orientacaoSocio')"
                      @input="verificarLimite(parecerSocio.orientacao, 'orientacaoSocio')"
                      auto-grow 
                      variant="outlined"
                      v-model="parecerSocio.orientacao"
                      :maxlength="maxCaractere"
                      :rows="qtdPaginas"
                      ></v-textarea>
                      <div class="mb-10 text-alert">
                        <p v-if="capsLockCampos.orientacaoSocio">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</p>
                        <p v-if="alertas.orientacaoSocio">⚠️ O texto alcançou a quantidade de linhas, e o limite é {{this.qtdPaginas * this.qtdLinhas}}.</p>
                      </div>
                    </v-col>
                    <v-col cols="12" md="6" class="d-flex flex-column justify-start align-start">
                      <v-btn color="orange lighten-3" @click="showSocioOrientacao = !showSocioOrientacao">Modelos de Orientações Finais</v-btn>
                      <div v-if="showSocioOrientacao" class="list-cards">
                        <v-card
                        v-for="item in getAllParecerByEspecific('SOCIO_ORIENTACAO')"
                        :key="item.id"
                        class="mx-auto my-4 ma-10"
                        :class="{'selected-card': parecerSocio.orientacao === item.text}"
                        elevation="10"
                        style="min-width: 400px; max-width: 300px; flex-shrink: 0;"
                        hover
                        @click="parecerSocio.orientacao = item.text"
                      >
                        <v-card-text>
                          {{ item.text }}
                        </v-card-text>
                        </v-card>
                      </div>
                    </v-col>
                  </v-row>
                </template>
              </v-container>
              
              <v-container fluid>
                <v-row>
                  <v-col>
                    <v-col cols="auto">
                      <v-btn variant="text" color="red" @click="clear">Limpar</v-btn>
                    </v-col>
                  </v-col>
                  <v-col>
                    <v-col cols="auto" class="d-flex justify-end">
                      <v-btn :disabled="botaoDesabilitado" color="primary" @click="confirmarParecer">Confirmar</v-btn>
                    </v-col>
                  </v-col>
                </v-row>
              </v-container>
  
              <v-divider class="my-10" :thickness="1"></v-divider>

              <template v-if="paginasFormatadas">
                <template v-for="(secao, sIndex) in paginasFormatadas" :key="`secao-${sIndex}`">
                  <template v-for="(pagina, pIndex) in secao.paginas" :key="`pagina-${sIndex}-${pIndex}`">
                    <v-row v-if="pagina.trim().length > 0">
                      <v-col>
                        <h3 class="mb-2">{{ secao.titulo }} - Página {{ pIndex + 1 }}</h3>
                        <v-textarea auto-grow disabled v-model="pagina" variant="outlined"></v-textarea>
                        <v-container fluid>
                          <v-row>
                            <v-col cols="auto">
                              <v-btn color="primary" @click="copiarTexto(pagina)">
                                CÓPIAR
                              </v-btn>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-col>
                    </v-row>
                  </template>
                </template>
              </template>
            </template>
          </v-container>
        </v-main>
      </v-app>
    </div>
    

    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
