<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajuda - Parecer</title>

    <!-- Fonts e Vuetify CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify.min.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet"/>

    <!-- Vue + Vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify-labs-components.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify-labs-directives.min.js"></script>
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container fluid>
            <v-row>
              <v-col>
                <h1>Ajuda - Parecer</h1>
                <h2>Específico</h2>
                <p class="my-10">Deseja só digitar um texto e trata-lo? <v-btn color="deep-purple" href="../index.html" class="skip-link">Clique aqui!</v-btn></p>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <p>Aqui você pode consultar, redigir e aperfeiçoar pareceres com base nas solicitações recebidas.</p>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-select
                  label="Modelo de parecer"
                  :items="types"
                  item-title="name"
                  item-value="id"
                  variant="outlined"
                  v-model="selectType"
                ></v-select>
              </v-col>
            </v-row>

            <v-divider class="my-10" :thickness="1"></v-divider>

            <template v-if="selectType">
              <v-row style="height: 15%;">
                <v-col>
                  <v-container fluid>
                    <template v-if="selectType === '75989fa6-aefb-4ed4-839b-916ce722f791'">
                      <v-row>
                        <v-col cols="6">
                          <p>Situação observada:</p>
                          <v-textarea 
                          @keydown="verificarCapsLock($event, 'situacao')"
                          @input="verificarLimite(parecerFicai.situacao, 'situacao')"
                          auto-grow 
                          variant="outlined"
                          v-model="parecerFicai.situacao"
                          :maxlength="maxCaractere"
                          :rows="qtdPaginas"
                          ></v-textarea>
                          <div class="mb-10">
                            <p v-if="capsLockCampos.situacao">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</p>
                            <p v-if="alertas.situacao">⚠️ O texto alcançou a quantidade de linhas, e o limite é {{this.qtdPaginas * this.qtdLinhas}}.</p>
                          </div>
                        </v-col>
                        <v-col cols="6" class="d-flex flex-column justify-start align-start">
                          <v-btn color="orange lighten-3" @click="showFicaiSituacao = !showFicaiSituacao">Modelos de Situação Observada</v-btn>
                          <div v-if="showFicaiSituacao" style="display: flex; gap: 12px; overflow-x: auto; padding: 10px; max-width: 100%;"
                          >
                            <v-card
                            v-for="item in getAllParecerByEspecific('FICAI_SITUACAO')"
                            :key="item.id"
                            class="mx-auto my-4 ma-10"
                            elevation="10"
                            style="min-width: 400px; max-width: 300px; flex-shrink: 0;"
                            hover
                            @click="getParecer(item)"
                          >
                            <v-card-text style="white-space: normal;">
                              {{ item.text }}
                            </v-card-text>
                            </v-card>
                          </div>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="6">
                          <p>Orientações Dadas à Família:</p>
                          <v-textarea 
                          @keydown="verificarCapsLock($event, 'orientacaoFicai')"
                          @input="verificarLimite(parecerFicai.orientacao, 'orientacaoFicai')"
                          auto-grow 
                          variant="outlined"
                          v-model="parecerFicai.orientacao"
                          :maxlength="maxCaractere"
                          :rows="qtdPaginas"
                          ></v-textarea>
                          <div class="mb-10">
                            <p v-if="capsLockCampos.orientacaoFicai">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</p>
                            <p v-if="alertas.orientacaoFicai">⚠️ O texto alcançou a quantidade de linhas, e o limite é {{this.qtdPaginas * this.qtdLinhas}}.</p>
                          </div>
                        </v-col>
                        <v-col cols="6" class="d-flex flex-column justify-start align-start">
                          <v-btn color="orange lighten-3" @click="showFicaiOrientacao = !showFicaiOrientacao">Modelos de Orientações Dadas à Família</v-btn>
                          <div v-if="showFicaiOrientacao" style="display: flex; gap: 12px; overflow-x: auto; padding: 10px; max-width: 100%;"
                          >
                            <v-card
                            v-for="item in getAllParecerByEspecific('FICAI_ORIENTACAO')"
                            :key="item.id"
                            class="mx-auto my-4 ma-10"
                            elevation="10"
                            style="min-width: 400px; max-width: 300px; flex-shrink: 0;"
                            hover
                            @click="getParecer(item)"
                          >
                            <v-card-text>
                              {{ item.text }}
                            </v-card-text>
                            </v-card>
                          </div>
                        </v-col>
                      </v-row>
                    </template>
                    <template v-else>
                      <v-form>
                        <p>Parecer da equipe multiprofissional:</p>
                        <v-textarea 
                        @keydown="verificarCapsLock($event, 'equipe')"
                        @input="verificarLimite(parecerSocio.equipe, 'equipe')"
                        auto-grow 
                        variant="outlined"
                        v-model="parecerSocio.equipe"
                        :maxlength="maxCaractere"
                        :rows="qtdPaginas"
                        ></v-textarea>
                        <div class="mb-10">
                          <p v-if="capsLockCampos.equipe">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</p>
                          <p v-if="alertas.equipe">⚠️ O texto alcançou a quantidade de linhas, e o limite é {{this.qtdPaginas * this.qtdLinhas}}.</p>
                        </div>
                        
  
  
                        <p>Parecer Técnico:</p>
                        <v-textarea 
                        @keydown="verificarCapsLock($event, 'tecnico')"
                        @input="verificarLimite(parecerSocio.tecnico, 'tecnico')"
                        auto-grow 
                        variant="outlined"
                        v-model="parecerSocio.tecnico"
                        :maxlength="maxCaractere"
                        :rows="qtdPaginas"
                        ></v-textarea>
                        <div class="mb-10">
                          <p v-if="capsLockCampos.tecnico">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</p>
                          <p v-if="alertas.tecnico">⚠️ O texto alcançou a quantidade de linhas, e o limite é {{this.qtdPaginas * this.qtdLinhas}}.</p>
                        </div>
                        
  
                        <p>Orientações Finais:</p>
                        <v-textarea 
                        @keydown="verificarCapsLock($event, 'orientacaoSocio')"
                        @input="verificarLimite(parecerSocio.orientacao, 'orientacaoSocio')"
                        auto-grow 
                        variant="outlined"
                        v-model="parecerSocio.orientacao"
                        :maxlength="maxCaractere"
                        :rows="qtdPaginas"
                        ></v-textarea>
                        <div class="mb-10">
                          <p v-if="capsLockCampos.orientacaoSocio">⚠️ Você está digitando com letras maiúsculas (Caps Lock ativado).</p>
                          <p v-if="alertas.orientacaoSocio">⚠️ O texto alcançou a quantidade de linhas, e o limite é {{this.qtdPaginas * this.qtdLinhas}}.</p>
                        </div>
                      </v-form>
                    </template>
                  </v-container>
                  

                  <v-container fluid>
                    <v-row>
                      <v-col>
                        <v-col cols="auto">
                          <v-btn variant="text" color="red" @click="clear">Limpar</v-btn>
                        </v-col>
                      </v-col>
                      <v-col>
                        <v-col cols="auto" class="d-flex justify-end">
                          
                          <v-btn :disabled="botaoDesabilitado" color="primary" @click="confirmarParecer">Confirmar</v-btn>
                        </v-col>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-col>
              </v-row>
  
              <v-divider class="my-10" :thickness="1"></v-divider>
              <template v-if="paginasFormatadas">
                <template v-for="(secao, sIndex) in paginasFormatadas" :key="`secao-${sIndex}`">
                  <template v-for="(pagina, pIndex) in secao.paginas" :key="`pagina-${sIndex}-${pIndex}`">
                    <v-row>
                      <v-col>
                        <h3 class="mb-2">{{ secao.titulo }} - Página {{ pIndex + 1 }}</h3>
                        <v-textarea auto-grow disabled :model-value="pagina" variant="outlined"></v-textarea>
                        <v-container fluid>
                          <v-row>
                            <v-col cols="auto">
                              <v-btn color="primary" @click="copiarTexto(pagina)">
                                CÓPIAR
                              </v-btn>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-col>
                    </v-row>
                  </template>
                </template>
              </template>
            </template>
          </v-container>
        </v-main>
      </v-app>
    </div>
    

    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
